# directories
.vscode/
__pycache__/

# data files
data/**/*.*
!data/**/*.gitkeep

# model files
model/*.*
!/model/*.gitkeep

# notebooks
.ipynb_checkpoints/

# logs
*.log

# parameters
src/data/parameters.json
src/data/twitter_keys.yaml

# others
.DS_Store
reviewanalysis.egg-info