# directories
.vscode/
__pycache__/
.ipynb_checkpoints

# data files
data/**/*.*
!data/**/*.gitkeep
data-final/

# model files
model/mallet/
model/**/*.*
!/model/*.gitkeep
!model/**/*.gitkeep
model-server/
model-final/

# notebooks .. this doesn't work :/
.ipynb_checkpoints
.ipynb_checkpoints/*.ipynb
/.ipynb_checkpoints/
*/.ipynb_checkpoints/*
notebooks/**/.ipynb_checkpoints/*

# tableau temp files
tableau/*.twbr

# logs
*.log

# parameters
src/data/parameters.json
src/data/twitter_keys.yaml

# others
.DS_Store
reviewanalysis.egg-info